name: CI/CD

on: [push]

jobs:
  build:

    permissions:
      pages: write      # to deploy to Pages
      id-token: write
    environment:
      name: ${{github.ref_name}}
      url:  https://maks-tkachyk.github.io/test-github-page/artifacts/build/index.html
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]
   
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install dependencies
      run: yarn

    - name: Build
      run: yarn build
 
    - name: "Deploy"
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.ACTIONS_DEPLOY_ACCESS_TOKEN }}
        publish_dir: ./build
        commit_message: ${{ github.event.head_commit.message }}
        enable_jekyll: false